*{margin:0;
  padding:0;}
body{background-color:#23272a;
      color:white;
      font-family:'Source Sans Pro';}
#main{background-color:#36393e;
  padding:30px;
  width:75%;
  margin: 0 auto;
  border: 2px solid #2c2f33;
  border-radius:10px;
  margin-top:20px;
  font-weight:bold;
  font-size:30px;
  transition: background-color 0.3s;
}
#main:hover{background-color:#71757D}
a{color:white;
  text-decoration:none;}
a:visited{color:white;
    text-decoration:none;}
a:active{color:white;
  text-decoration:none;}
img{width:100px;
    height:100px;
  border-radius:20px;
  vertical-align: middle;}
#smarthome{font-size:15px;
          font-weight: normal;
        background-color:#36393e;
          padding:40px;
          width:75%;
          margin: 20px auto;
          border: 2px solid #2c2f33;
          border-radius:10px;}
#list{margin-left:20px;}
#list2{margin-left:10px;}
input{font-size:15px;
      font-weight:bold;
      padding: 5px 15px;
      font-family:'Source Sans Pro';
      border-radius:5px;
      border:none;
      background-color:#8ea1e1;
      color:white;
      transition: background-color 0.3s;
      }
input:hover{background-color:#5b6dae}
#back {width:20px;
        height:20px;
	border-radius:0px;}
#header{font-size:15px;
            font-weight: normal;
            background-color:#36393e;
            padding:15px;
            width:79%;
            margin: 20px auto;
            border: 2px solid #2c2f33;
            border-radius:10px;
            font-weight:bold;
	clear:right;}
#download{width:20px;
        height:20px; 
        border-radius:0px;}
#dn{width:50px;
        height:50px;
        border-radius:10px;}
#d{float:right}

